.header {
    display: flex;
    background: salmon;
    margin: auto;
}

.header .logo {
    width: 150px;
    height: auto;
    border: 10px solid aqua;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 0px;
    margin-left: 150px;
}

.header .logo h2 {
    text-align: center;
    color: aqua;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 50px;
}

.header .chude {
    display: flex;
    margin-left: 300px;
    padding-top: 50px !important;
}

.header .chude a {
    margin-top: -30px;
    color: aqua;
    padding: 50px;
    font-size: 20px;
}

.hang2 img {
    width: 100%;
    height: 700px;
    margin: 0px;
}

.hang3 img {
    width: 625px;
    height: 400px;
    margin-top: -12px;
}

.div1 {
    margin-top: -15px;
}

.div1 h1 {
    background-color: salmon;
    text-indent: 500px;
    border-radius: 100px;
}

.input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input {
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}